@using Task20.Models.Repositories
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html>
    <head>
        <title>Страница Index.cshtml</title>
        <link href="~/css/stylecss.css" rel="stylesheet"/>
        <script src="~/js/scripts.js"></script>
        <style>
            body {
                background: url(https://d1miefefncnroz.cloudfront.net/kuban/advt_photo/340044/block3.jpg);
             }
        </style>
    </head>
    <body>
        <table class="table_col">
                <tr>
                    <th>Id</th>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Отчество</th>
                </tr>

                @{
                    var people = new PersonRepository().People;
                    foreach (var person in people)
                    {
                            <tr>
                                
                                <td><a asp-area="" asp-action="GetDataFromObject"
                                       asp-route-id="@person.Id"
                                       asp-route-name="@person.Name"
                                       asp-route-secondName="@person.LastName"
                                       asp-route-middleName="@person.MiddleName"
                                       asp-route-email="@person.Email"
                                       asp-route-phone="@person.Phone"
                                    >@person.Id</a></td>

                                <td>@person.Name</td>
                                <td>@person.LastName</td>
                                <td>@person.MiddleName</td>
                            </tr>
                    }
                }
        </table>
    </body>
</html>